###  Bulk Package Case Study - The Power of Pandas 

#### Raw Data Setup:

- Access the "fundamentals_muni.out" package stored in "./Files/"
    - Read in the file with [read table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_table.html)
        - Do not specify a separator and specify the name  of the one column to "FirstColumn" 
    - Split the data in the "FirstColumn" by the pipe "|" [Series.str.split](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html)
        - Override the expand default from **False** to **True**
    - Structure of Expanded ".OUT"
        - Column 0 (Security/Field/Message)
            - Fields will always be first in the dataframe 
        - Column 1 (Error Code) 
            - 0 = No Error 
            - 10 = Invalid Ticker 
            - 11 = Restricted Security 
        - Column 2 (Security Count)
    - Access the Fields ONLY Data by filtering for rows where column 1 or column 2 are null. For all BBG .OUT files are structured: [Security or Field]|Error Code| Number of fields. The error code and number of fields will only be populated when there is a security.
        - Convert the fields column 0 to a list [Convert to List](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.tolist.html)
        - Access the index of String 'START-OF-FIELDS' + 1 [Access Index Position](https://www.programiz.com/python-programming/methods/list/index) 
        - Access the index of String 'END-OF-FIELDS'
        - Take a slice of the fields list with the start/end variables established above [Slicing](https://www.pythoncentral.io/how-to-slice-listsarrays-and-tuples-in-python/)
    - Access Security ONLY data where column 1 or column 2 is not null (inverse of fields)
        - Set the index of the dataframe to the security [Set Index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html)
        - Remove the Error Code and Security count columns [iloc](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/)
        - Reset the column index [reset column index](https://stackoverflow.com/questions/42284617/reset-column-index-pandas)
        - Trim the column by the len of the fields list [iloc](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/), [len](https://www.programiz.com/python-programming/methods/built-in/len)
        - Rename the columns to the fields list [rename columns](https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas)

#### Exploratory Data Analysis:   

- Descriptive Pandas Functions
    - [.describe()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)
    - [.info()](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.info.html)
    - [.dtypes](https://www.geeksforgeeks.org/python-pandas-dataframe-dtypes/)
    - [.isnull().any()](https://chartio.com/resources/tutorials/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe/)
    

#### Data Manipulation

- [.groupby()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)
- [.sort_values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)
- [Subsetting](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)
- [DateTime Casting](https://www.datacamp.com/community/tutorials/converting-strings-datetime-objects)
- [pd.pivot_table()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)
- BQL
- [merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) 



#### Visualization


### Raw Data Setup:

#### Import Relevant Libraries

In [2]:
import pandas as pd
import numpy as np
#import bql

#### Read-in & Split DataFrame:

In [1]:
# read in the file with read_csv(). OVerride the names default to "FirstColumn" and save to variable raw_data
#file can be found "./Files/fundamentals_muni.out" hint: read_csv
#overwrite the header, sep, and name defaults https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html


# ms = pd.read_csv('./Files/fundamentals_muni.out', sep='\t', header=None, names=['FirstColumn'], skiprows=34, skipfooter=4, engine='python')
# ms = pd.read_csv('./Files/fundamentals_muni.out', sep='\t', header=None, names=['FirstColumn'])


#split the "FirstColumn" with the series split function, save to new dataframe object called "muni_issuers"
#first try without the expand, then try with the expand = True & check the types type()
#series 1-D object, dataframe 2-D shape
# muni_issuers = ms['FirstColumn'].str.split('|', expand=True)


# A Little EDA print .head(), .tail() and .info() on the expanded dataframe

In [ ]:
# muni_issuers.info()
# muni_issuers.shape
# muni_issuers.describe
muni_issuers.head()

**eda answer**

```python
muni_issuers.shape
muni_issuers.head()
muni_issuers.tail()
muni_issuers.info()
```

#### Access Fields, Convert to List & Subset:

In [4]:
#find the index of the start/end slice. Remember slices are inclusive exclusive. You will need to add 1 to the start index for only the fields 
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Index.html
#save this to start_end

start_end = muni_issuers.index[(muni_issuers[0] == 'START-OF-FIELDS') | (muni_issuers[0] == 'END-OF-FIELDS')]
start_end

#Slice the dataframe
#https://www.geeksforgeeks.org/python-accessing-all-elements-at-given-list-of-indexes/
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

column_names = muni_issuers.iloc[start_end[0]+1:start_end[1],:][0].tolist()

#print the fields dataframe to notebook
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.tolist.html
#save to list for columns to column names


#do some EDA

NameError: name 'muni_issuers' is not defined

In [5]:
column_names

NameError: name 'column_names' is not defined

**eda answer**

```python
len(column_names)
print(column_names)

#### Access Securities, Restructure, & Rename Columns:

In [193]:
# Filter expanded dataframe where column 1 or 2 are NOT null with .loc function
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

# security_returns = muni_issuers.loc[muni_issuers[1].notnull()]\
#                     .drop([1,2], axis=1)\
#                     .set_index(0)


# remove the error return (Column 1) & field count (Column 2) columns with .drop
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html


# security_returns.drop([1,2], axis=1, inplace=True)



# Set index to the Security Column
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html

# security_returns.set_index(0)


#Use iloc to reshape the columns to fit the length of the list 
#https://www.programiz.com/python-programming/methods/built-in/len
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

# security_returns.iloc[:,:len(column_names)]

# set the columns equal to the fields list 


#chaining (readability)
#https://stackoverflow.com/questions/33944522/is-it-possible-to-split-a-sequence-of-pandas-commands-across-multiple-lines/33944618

In [194]:
security_returns = muni_issuers.loc[muni_issuers[1].notnull()]
security_returns.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
32,21381Z US Equity,0,25,1002150,BBG000BHHDV8,21381Z,21381Z US,DADE COUNTY FLORIDA,21381Z US,20180930,...,BBG001FR7C34,County of Miami-Dade FL,1002150,BBG001FR7C34,County of Miami-Dade FL,1002150,1,FL,Y,
33,116126MF US Equity,0,25,32553265,BBG003C4QFY2,116126MF,116126MF US,YAKIMA COUNTY SCHOOL DISTRIC,58192MF US,20180831,...,BBG003BZXHZ1,Yakima County School District No 201 Sunnyside...,1039315,BBG001FSTLN6,Yakima County School District,1039315,3,WA,Y,
34,144893MF US Equity,0,25,42956653,BBG007GNHKX7,144893MF,144893MF US,ORADELL SCHOOL DISTRICT - GO,39647MF US,20180630,...,BBG007FJ25R3,Oradell School District - Government Fund,1008998,BBG001FRHGY0,Oradell School District,1008998,4,NJ,Y,
35,82353MF US Equity,0,25,1003392,BBG0018LM9X2,82353MF,82353MF US,CITY OF MOORE HAVEN FL,82353MF US,20160930,...,BBG001FR8WW7,City of Moore Haven FL,1003392,BBG001FR8WW7,City of Moore Haven FL,1003392,1,FL,Y,
36,95895MF US Equity,0,25,29808261,BBG002W3N0Z9,95895MF,95895MF US,TOWN OF LEESBURG VA - TOTAL,8617MF US,20180630,...,BBG002VZGK10,Town of Leesburg VA - Total Government Fund,1017794,BBG001FRWYL8,Town of Leesburg VA,1017794,3,VA,Y,

In [195]:
security_returns = muni_issuers.loc[muni_issuers[1].notnull()]\
                    .drop([1,2], axis=1)\
                    .set_index(0)\
                    .iloc[:,:len(column_names)]
security_returns.columns = column_names

### Exploratory Data Analysis:

In [196]:
#A little EDA: print head() tail() info() describe() shape() to better understand the dataset 

# get the dataframe's shape
# security_returns.shape

# print the dataframe's columns
# security_returns.columns

#print the first x  rows of the dataframe 
# security_returns.head()

#print the last x rows of a dataframe 
# security_returns.tail()

In [197]:
# security_returns.head()
# security_returns.describe()
# security_returns.info()
# security_returns.columns
# security_returns.shape
# security_returns.dtypes

EDA Answer 
```python
security_returns.shape
security_returns.columns
security_returns.head()
security_returns.tail()

```

### Data Manipulation

#### A) Group By
- What is the most popular 'INDUSTRY_SECTOR' ?
    - group by industry sector, industry group & count by unique instrument 'ID_BB_UNIQUE'
- Name the top ten parent issuers 
    - group by 'ID_BB_GLOBAL_ULT_PARENT_CO_NAME'& count by unique instrument 'ID_BB_UNIQUE'
    - use .head(10) to get the top 10
- Get the state name with the most issuers
    - group by 'STATE_CODE'& count by unique instrument 'ID_BB_UNIQUE'
    - user .head() to get the top state

In [198]:
#do work here - try all three 
#https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/

In [199]:
security_returns.columns

Index(['ID_BB_COMPANY', 'ID_BB_GLOBAL', 'TICKER', 'TICKER_AND_EXCH_CODE',
       'NAME', 'ULT_PARENT_TICKER_EXCHANGE', 'MOST_RECENT_PERIOD_END_DT',
       'NEXT_FISCAL_YR_END_MONTH', 'EQY_FUND_CRNCY', 'COMPANY_AUDITOR',
       'AUDITORS_OPINION', 'INDUSTRY_SECTOR', 'INDUSTRY_GROUP',
       'INDUSTRY_SUBGROUP', 'EQY_FUND_IND', 'ID_BB_UNIQUE',
       'ID_BB_GLOBAL_COMPANY', 'ID_BB_GLOBAL_COMPANY_NAME',
       'ID_BB_ULTIMATE_PARENT_CO', 'ID_BB_GLOBAL_ULTIMATE_PARENT_CO',
       'ID_BB_GLOBAL_ULT_PARENT_CO_NAME', 'ULTIMATE_BORROWER_BBID',
       'ISSUER_FINANCIAL_STATEMENT_TYPE', 'STATE_CODE', 'FULL_FUND_AVAIL'],
      dtype='object')

In [200]:
security_returns.groupby(['INDUSTRY_SECTOR','INDUSTRY_GROUP','INDUSTRY_SUBGROUP'])['ID_BB_UNIQUE']\
                .nunique().reset_index().sort_values('ID_BB_UNIQUE', ascending=False).head(10)

,INDUSTRY_SECTOR,INDUSTRY_GROUP,INDUSTRY_SUBGROUP,ID_BB_UNIQUE
97,Government,Municipal,Municipal-Education,48972
95,Government,Municipal,Municipal-City,40953
99,Government,Municipal,US Municipals,23945
96,Government,Municipal,Municipal-County,12137
130,N.A.,N.A.,N.A.,2851
45,"Consumer, Non-cyclical",Commercial Services,Non-Profit Charity,2227
60,"Consumer, Non-cyclical",Healthcare-Services,Medical-Hospitals,2097
50,"Consumer, Non-cyclical",Commercial Services,Schools,1668
92,Financial,Real Estate,Housing Authority,1115
139,Utilities,Water,Water,676

#### B) Subsetting 
- create 'nynj_health'
    - .loc
        - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html
        - Filter the security_returns data for 'INDUSTRY_GROUP' : 'Healthcare-Services' 
        - Filter for State codes New York or New Jersey Located in New York  OR New Jersey
        - Filter for issuers audited by: 'ERNST & YOUNG LLP', 	'KPMG LLP','DELOITTE & TOUCHE LLP', 'PRICEWATERHOUSE COOPERS LLP'
    - .iloc
        - https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/
        - Filter for the first 10 rows and first 10 columns

In [1]:
#do work here

security_returns.loc[security_returns['INDUSTRY_SUBGROUP'] == 'Municipal-Education']\
                .groupby(['STATE_CODE'])['ID_BB_UNIQUE'].nunique().reset_index()\
                .sort_values('ID_BB_UNIQUE', ascending=False).head(5)

NameError: name 'security_returns' is not defined

In [202]:
security_returns.loc[(security_returns['INDUSTRY_SUBGROUP'] == 'Municipal-Education') &
                     (security_returns['STATE_CODE'] == 'NY')].head()

,ID_BB_COMPANY,ID_BB_GLOBAL,TICKER,TICKER_AND_EXCH_CODE,NAME,ULT_PARENT_TICKER_EXCHANGE,MOST_RECENT_PERIOD_END_DT,NEXT_FISCAL_YR_END_MONTH,EQY_FUND_CRNCY,COMPANY_AUDITOR,...,ID_BB_UNIQUE,ID_BB_GLOBAL_COMPANY,ID_BB_GLOBAL_COMPANY_NAME,ID_BB_ULTIMATE_PARENT_CO,ID_BB_GLOBAL_ULTIMATE_PARENT_CO,ID_BB_GLOBAL_ULT_PARENT_CO_NAME,ULTIMATE_BORROWER_BBID,ISSUER_FINANCIAL_STATEMENT_TYPE,STATE_CODE,FULL_FUND_AVAIL
0,,,,,,,,,,,,,,,,,,,,,
31450MF US Equity,1072083,BBG000NWL633,31450MF,31450MF US,CENTRAL SQUARE CENTRAL SCHOO,31450MF US,20180630,06/2019,USD,RAYMOND F WAGER PC,...,EQ0000000009869913,BBG001FX7732,Central Square Central School District,1072083,BBG001FX7732,Central Square Central School,1072083,1,NY,Y
145254MF US Equity,42958831,BBG007GNJVH9,145254MF,145254MF US,CLYMER CENTRAL SCHOOL DISTRI,33796MF US,20180630,06/2019,USD,RA MERCER & CO PC,...,EQ0000000038693475,BBG007FJ2TG3,Clymer Central School District - Government Fund,1072190,BBG001FX7B97,Clymer Central School District,1072190,4,NY,Y
138449MF US Equity,36153324,BBG004SJZVM8,138449MF,138449MF US,OSSINING UNION FREE SCHOOL D,49032MF US,20180630,06/2019,USD,O'CONNOR DAVIES LLP,...,EQ0000000030865931,BBG004RX7LW0,Ossining Union Free School District - Total Go...,1073766,BBG001FW45G7,Ossining Union Free School Dis,1073766,3,NY,Y
119636MF US Equity,32568915,BBG003C53BB8,119636MF,119636MF US,ARDSLEY UNION FREE SCHOOL DI,31395MF US,20180630,06/2019,USD,SICKLER TORCHIA ALLEN & CHURCH,...,EQ0000000026487866,BBG003C00SR8,Ardsley Union Free School District - Total Gov...,1071724,BBG001FX6WK9,Ardsley Union Free School Dist,1071724,3,NY,Y
33676MF US Equity,1072718,BBG000NZMW56,33676MF,33676MF US,HARPURSVILLE CENTRAL SCHOOL,33676MF US,20180630,06/2019,USD,VIEIRA & ASSOC PC,...,EQ0000000009900345,BBG001FX7TM3,Harpursville Central School District,1072718,BBG001FX7TM3,Harpursville Central School Di,1072718,1,NY,Y

#### C) Casting  & New Column Creation
- DateTime
    - 'MOST_RECENT_PERIOD_END_DT' convert to datetime object 
    - 'NEXT_FISCAL_YR_END_MONTH' convert to datetime object 
    - Get the number of months between 'MOST_RECENT_PERIOD_END_DT' and 'NEXT_FISCAL_YR_END_MONTH' save to 'Cycle'
    - Sort by upcoming

In [203]:
#do work here
security_returns['Counter'] = '1'

security_returns['Counter'] = security_returns['Counter'].astype(int)
security_returns.dtypes

ID_BB_COMPANY                      object
ID_BB_GLOBAL                       object
TICKER                             object
TICKER_AND_EXCH_CODE               object
NAME                               object
ULT_PARENT_TICKER_EXCHANGE         object
MOST_RECENT_PERIOD_END_DT          object
NEXT_FISCAL_YR_END_MONTH           object
EQY_FUND_CRNCY                     object
COMPANY_AUDITOR                    object
AUDITORS_OPINION                   object
INDUSTRY_SECTOR                    object
INDUSTRY_GROUP                     object
INDUSTRY_SUBGROUP                  object
EQY_FUND_IND                       object
ID_BB_UNIQUE                       object
ID_BB_GLOBAL_COMPANY               object
ID_BB_GLOBAL_COMPANY_NAME          object
ID_BB_ULTIMATE_PARENT_CO           object
ID_BB_GLOBAL_ULTIMATE_PARENT_CO    object
ID_BB_GLOBAL_ULT_PARENT_CO_NAME    object
ULTIMATE_BORROWER_BBID             object
ISSUER_FINANCIAL_STATEMENT_TYPE    object
STATE_CODE                         object
FULL_FUND_AVAIL                    object
Counter                             int64
dtype: object

#### D) Restructuring DataFrame (Pivot)
- DateTime
    - Create a Month Date from 'NEXT_FISCAL_YR_END_MONTH' and save as 'Month_Fiscal'
    - pivot the data by 'COMPANY_AUDITOR' as the index, and the 'Month_Fiscal' as the columns

In [204]:
#do work here
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

#### E) BQL
- initialize the BQL service, call it bq
- Request the 'CIE_DES' mnemonic on the 'ID_BB_GLOBAL'
- make the result a dataframe 
- rename the columns

In [205]:
#do in BQNT

In [206]:

bq = bql.Service()
company_des = bq.data.CIE_DES()


request = bql.Request(nynj_health['ID_BB_GLOBAL'],[company_des ])

# Execute the request
response = bq.execute(request)

description_table = bql.combined_df(response).reset_index()
description_table.rename(columns = {'ID': 'ID_BB_GLOBAL', 'CIE_DES()':'Company Description'}, inplace = True)

NameError: name 'bql' is not defined

#### F) Merge
- change the column values 
- left merge on ID_BB_GLOBAL

In [207]:
#do work here
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

### Data Visualization

- groupby industry sector and create a barplot

In [172]:
from matplotlib import pyplot as plt

In [ ]:
#do work here
#http://jonathansoma.com/lede/algorithms-2017/classes/fuzziness-matplotlib/understand-df-plot-in-pandas/